# .DS_Store 파일 무시
.DS_Store       # Ignore .DS_Store files in the root directory
._.DS_Store     # Ignore ._DS_Store files (used for network shares)
**/.DS_Store    # Ignore .DS_Store files in all directories
**/._.DS_Store  # Ignore ._DS_Store files in all directories
